@import "../../variables.scss";

.container {
  width: 100vw;
  max-width: $mobile-max-width;
  padding: 0 1em;

  a {
    color: $secondary-color;

    &:hover {
      color: $accent-color;
    }
  }

  h2,
  h3,
  p {
    margin-top: 1em;
  }
}
